* {
    box-sizing: border-box; 
    padding: 10px;
    margin: 10px;
}

body{
    background-color: antiquewhite;
}

p {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1{
    font-size: 36px;
    font-family: serif;
    text-align: center;
    color:rgb(126, 76, 76)

}

h2{
    font-size: 36px;
    font-family:serif;
    padding-top: 10px;
    padding-bottom: 10px;
    color:rgb(126, 76, 76)
}

h3{
    font-size: 36px;
    font-family:serif;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(126, 76, 76);
}

.emphasized {
    color: rosybrown;
}



.calendar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.items{
    flex: 1 1 30%;
    margin: 10px;
    padding: 15px;
    background: #fbe6d5; 
    border-radius: 8px;
    text-align: center;
    transition: transform 0.2s;
    color:rgb(157, 111, 111)
}

.items:hover {
    transform: scale(1.05);
    background: #e1c8a8; 
    color:rgb(126, 76, 76)
}